# Core functionality - changes here should be rare!
/src/app.py                   @WahomeAshley
/src/backend/database.py      @WahomeAshley
/src/backend/routers/auth.py  @WahomeAshley

# The frontend will need refactored soon to be more object oriented.
/src/static/   @WahomeAshley
